<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <input type="submit" value="Start" onclick="submit()">

    <script type="text/javascript">
        function submit() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    alert(xhr.response);
                }
            }
            xhr.open('get', '/person', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            xhr.send();
        }
    </script>

    <div class="blogs content">

        <h2>All Blogs</h2>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
                
            <% }) %>
        <% } else { %>
            <p>There are no blogs to display...</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>


